<div class="row row-cols-1 row-cols-md-3 g-4">
  @for (item of series; track item.id) {
  <div class="col">
    <div class="card">
      <img [src]="item.imgUrl" width="300px" height="300px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.rating}}</p>
        <button class="btn btn-primary" [routerLink]="['/series-details/', item.id]">details</button>
        <button class="btn btn-success" (click)="addToList(item.id)">add to favourits</button>
      </div>
    </div>
  </div>
  }
</div>